@charset "utf-8";

/* CSS Document */
* {
	padding: 0;
	margin: 0;
}

a {
	list-style: none;
	color: #fff;
}

body {
	font-size: 14px;
	font-family: Microsoft YaHei;
	background-color: #212121;
	width: 1150px;
	color: #fff;
}

.menu {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 2333;
}

.menu_move {
	animation: menu 1s linear forwards;
}

.menu_box {
	position: fixed;
	bottom: 0;
	right: 60px;
	width: 10%;
	height: 50px;
	z-index: 2333;
	font-size: 8px;
	display: none;
}

.menu_box .login {
	float: left;
}

.menu_box .register {
	float: left;
}

.menu_box .rolltop {
	float: left;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	background-image: url("../imgs/background.jpg");
	background-size: cover;
	opacity: 0.7;

}



.main {
	margin: 0 170px;
	width: 1150px;
}

.ch {
	width: 100%;
	animation: fadedown 3s;
}

nav {
	position: fixed;
	left: 20px;
	bottom: 0;
	z-index: 2333;
	transform: rotate(-90deg);
	transform-origin: 0 0;
	vertical-align: middle;
	font-family: Microsoft YaHei;
}

nav a {
	display: inline-block;
	font-size: 19px;
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	opacity: 0.4;
	vertical-align: middle;
}

nav a.active,
nav a:hover {
	text-decoration: underline;
	opacity: 1
}

nav a.clip {
	height: 3px;
	width: 3px;
	background: #fff;
	border-radius: 100%
}

.intro {
	position: relative;
	color: #fff;
	height: 100vh;
	margin: 0 auto;
}

.container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	height: 100%;
	padding: 20px 0;
}

.hello {
	position: absolute;
	bottom: 20%;
	left: 0;
}

.hello h1 {
	font-size: 44px;
	letter-spacing: 0.4em;
	font-weight: 400;
}

.hello h2 {
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.2em;
}

.hello_1 {
	padding-top: 10px;
	margin-right: 10px;

}

.hello span {
	display: inline-block;
	height: 13px;
	width: 13px;
	border-radius: 100%;
}

#hello1 {
	background-color: red;
}

#hello2 {
	background-color: aquamarine;
}

#hello3 {
	background-color: cornflowerblue;
}

.container .chtitle {
	padding-bottom: 30px;
	font-size: 26px;
	letter-spacing: .2em;
	opacity: 0.4;
	color: aliceblue;
	margin-top: 50px;

}

#chtitle_1 {
	color: red;
}

.chtitle:after {
	content: "";
	display: block;
	width: 10%;
	height: 5px;
	background-color: aliceblue;
	margin-top: 30px;
}

ul.timeline {
	list-style-type: none;
	background: url("/imgs/version_line.png") repeat-y scroll 120px 0 transparent;
	margin: 30px 0;
	padding: 0;
}

ul.timeline li {
	position: relative;
	margin-bottom: 20px;
}

ul.timeline li .time {
	position: absolute;
	width: 90px;
	text-align: right;
	left: 0;
	top: 10px;
	color: #999;
	font-size: 20px;
}

ul.timeline li .year {
	position: absolute;
	width: 290px;
	text-align: right;
	left: -200px;
	top: 30px;
	font-size: 40px;
	line-height: 50px;
	color: powderblue;
	opacity: .7;
}


ul.timeline li .content {
	margin-left: 190px;
	background: dimgray;
	transition: all 0.2s;
	border-radius: 15px;
}

ul.timeline li .content h5 {
	padding: 20px;
	color: rgba(rgb(94, 88, 88), rgb(109, 114, 109), rgb(84, 84, 87), .3);
	font-size: 26px;
	line-height: 30px;
	height: 30px;
	font-weight: 600;
	letter-spacing: .3em;
	opacity: .7;
}

ul.timeline li .content:hover {
	animation: index-link-active 1s forwards;
}

.footer {
	text-align: center;
	width: 1519px;
	background-color: rgba(109, 109, 109, .2)
}

.footer h3 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.8em;
	margin: 6px 0;
}

.footer p {
	font-size: 12px;
	letter-spacing: 1em;
	opacity: 0.3;
}

.footer p.c {
	margin-top: 20px;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
}

.footer a {
	text-decoration: none;
	color: inherit;
}

.footer p.b {
	letter-spacing: 0.1em;
}